@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+6+Free:wght@400&display=swap");

*{

  margin:0;
  padding: 0%;
}
.desktop-1{

  background:url(./login.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position:absolute;

}

.gif-Logo{
  margin-top: 21px;
  margin-left: 18px;
  position: absolute;
  width: 9%;
  height: 85px;
  border-bottom: 4px solid black;
  
}

.desktop-1 h2{
  color: #363636;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  float: right;
  position: absolute;
  left: 1708px;
  top: 207px;
  
}

.box{
  height: 5%;
  width: 30%;
  /* border: 2px solid green; */
  float: right;
  position: absolute;
  left: 1905px;
  top: 455px;
  margin-left: 10px;
  /* border-bottom: 5px solid grey;  */
}
.box input{

  height: 150%;
  width: 100%;
  font-size: 50px;
  background: none;
  border: none;
  outline:none;

}

.box input[type="password" i]{
  /* margin-top: 50px; */
  margin :10px 20px;
  border-bottom: 5px solid #363636;
  position: absolute;
  top: 15vh;
  left: 10vh;
}
.box input[type="email" i]{
  margin-top: 50px;
  margin :12px 20px;
  border-bottom: 5px solid #363636;
}
.svg-user{
  float: right;
  position: absolute;
  left: 1942px;
  top: 40vh;
  /* border-bottom: 5px solid grey;  */
  height: 4%;
  /* width:auto; */
  /* float: left; */
  /* position: absolute; */
  
}.svg-key{
  float: right;
  position: absolute;
  left: 1985px;
  top: 49vh;
  /* border-bottom: 5px solid grey;  */
  height: 4%;
  /* width:auto; */
  /* float: left; */
  /* position: absolute; */
  
}

.txt-forgotpassword{

  position: absolute;
  width: max-content;
  top: 30vh;
  left: 63vh;
  cursor: pointer;

}

.txt-forgotpassword:hover{

  position: absolute;
  width:max-content;
  top: 30vh;
  left: 63vh;
  cursor: pointer;
  color: blue;
  font-style: italic;

}


.btn-signin{
  cursor: pointer;
  background: none;
  font-size: xxx-large;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 34vh;
  left:15vh;
}

.btn-signin:hover{
  cursor: pointer;
  font-style: italic;
  background: grey;
  border: 2px solid white;
  font-size: xxx-large;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 34vh;
  left:15vh;
}

.txt-or{
  float: right;
  position: absolute;
  top: 1050px;
  left: 2550px;
}

.login-methods{
border-top: 7px solid black;
height: 10%;
width: 667px;
display: inline-flex;
position: absolute;
left: 2253px;
top:1100px
}

.svg-google{
  padding: 0vh 1vh;
  margin:2vh 20vh ;
  
  align-items: center;
}

.svg-google:hover{
  padding: 0vh 1vh;
  margin:2vh 20vh ;
  cursor: pointer;
}

