.vector-icon2 {
  position: absolute;
  height: 42.7%;
  width: 84.73%;
  top: 36.05%;
  right: 7.64%;
  bottom: 21.25%;
  left: 7.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pheye-closed-bold {
  position: relative;
  width: 100%;
  height: 256px;
  overflow: hidden;
}
